html,
body {
    background-color: grey;
    margin: 0px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    background-color: #0e7490;
    grid-area: 1 / 1 / span 2 / span 1;
    border-right: 8px solid #115e59;
    display: grid;
    align-items: center;
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10fr;
    grid-gap: 15px;
    overflow: hidden;
}

.header {
    background-color: #ecfeff;
    display: grid;
    grid-template-rows: 35% 65%;
}

.content {
    background-color: green;
    display: grid;
    grid-template-columns: 73% 27%;
    grid-template-rows: 10% 45% 45%;
}

.sidebar > div {


    width: 80%;
    margin-left: 10%;
}

.sideLogo {
    margin-right: 20%;
    border-bottom: 1px solid white;
}

.headerTop * {
    border: 2px solid white;
}

.headerBottom * {
    border: 2px solid white;
}

.headerTop {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 40% 10% 15% 25%;
}

.headerBottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 25% 45% 10% 10% 10%;
}

.content > div {
    border: 2px solid white;
}

.projectList {
    grid-area: 2 / 1 / 4 / 1;
}

.annList {
    width: 85%;
    height: 90%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    background-color: white;
    border-radius: 8px;
}

.announcement {
    display: grid;
    grid-template-rows: 30% 70%;
    margin: 1vh;
    border-bottom: 2px solid grey;
    overflow: scroll;
}

.announcement > div {
    margin-left: 2vh;
    text-align: flex-start;

}

.announcementHeader h1 {
    font-size: 20px;
}

.annoucementParagraph p {
    font-size: 14px;
}

.trendingList {
    background-color: white;
    width: 85%;
    height: 90%;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

.trendingList * {
    border: 2px solid grey;
}

.trendingTab {
    margin-left: 2vh;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 80%;

}

.trendingUser {
    display: grid;
    grid-template-rows: 40% 60%;
}

.trendingUserIcon {

}

.trendingUserTag {

}

.trendingUserName {

}



.projectList {
    display: grid;
    width: 90%;
    height: 95%;
    background-color: white;
    border-radius: 10px;
    margin-left: 5%;
    grid-template-columns: 50% 50%;
    grid-gap: 2vh;
    overflow: hidden;
    place-items: center;
}

.projectList > div {

    border-radius: 10px;
    width: 40vh;
    height: 20vh;
}

.projectList:first-child {
    margin-top: 200px;
}

.project {
    display: grid;
    grid-template-rows: 20% 40% 30%;
}



.projectButtons > div {
    border: 2px solid green;
    
}

.project > div {
    margin-top: 2.5%;
    margin-left: 5%;
    width: 90%;
    height: 100%;
    border: 2px solid black;
}

.projectList > div {
    border: 2px solid black;
}

.projectButtons {
    display: grid;
    margin-left: 60%;
    width: 40%;
    grid-template-columns: 3fr 1fr 1fr 1fr;

}

.sidebar > div:not(:first-child) {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;

}

.sidebar > div:not(:first-child) {
    width: 70%;


}

.sidebar > div:not(:first-child) *{
    color: white;
    font-size: 26px;


}

.sideIcon {
    margin-left: 40%;
    margin-top: 14%;

}

.sideIcon img {
    width: 55%;
}

