html,
body {
    background-color: grey;
    margin: 0px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
    height: 100%;
    width: 100%;
    overflow: scroll;

}

.sidebar {
    background: linear-gradient(to left, #0369a1 , #0e7490);
    grid-area: 1 / 1 / span 2 / span 1;
    border-right: 2px solid white;
    display: grid;
    align-items: center;
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10fr;
    grid-gap: 15px;
    overflow: scroll;
}

.header {
    background: linear-gradient(to top, #0369a1 , #0e7490);
    display: grid;
    grid-template-rows: 35% 65%;
    box-shadow: 5px 10px;
    border-bottom: 2px solid white;
}

.content {
    background: linear-gradient(to bottom, #0369a1 , #0e7490);
    display: grid;
    grid-template-columns: 73% 27%;
    grid-template-rows: 10% 45% 45%;
}

.sidebar > div {
    width: 80%;
    margin-left: 10%;
}

.sideLogo {
    margin-right: 20%;
    border-bottom: 1px solid white;
}

.headerTop {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 5% 65% 5% 5% 20%;
    overflow: hidden;
}

.headerBottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 60% 10% 10% 10%;
    overflow: hidden;
}



.projectList {
    grid-area: 2 / 1 / 4 / 1;
}

.annList {
    width: 85%;
    height: 90%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    background-color: #0369a1;
    border-radius: 8px;
    color: white;
}

.announcement {
    display: grid;
    grid-template-rows: 30% 70%;
    margin: 1vh;
    border-bottom: 2px solid lightgrey;
    overflow: scroll;
}

.announcement > div {
    margin-left: 2vh;
    text-align: flex-start;

}

.announcementHeader h1 {
    font-size: 20px;
}

.annoucementParagraph p {
    font-size: 1rem;
}

.trendingList {
    background-color: #0369a1;
    color: white;
    width: 85%;
    height: 90%;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}


.trendingTab {
    margin-left: 2vh;

    display: grid;
    grid-template-columns: 20% 80%;

}



.trendingUser {
    display: grid;
    grid-template-rows: 25% 75%;
}

.trendingIcon {

}

.trendingIcon img{
    width: 6vh;
    height: 6vh;
    margin-top: 1vh;
    border-radius: 50%;
}

.trendingUserTag {

}

.trendingUserTag h1 {
    font-family: "Exo", sans-serif;
    font-size: 1.5rem;
    margin-left: 1vh;
}

.trendingUserName p{
    margin-left: 1vh;
    font-size: 1.5rem;

}

.trendingUserName {

}



.projectList {
    display: grid;
    width: 90%;
    height: 95%;

    border-radius: 10px;
    margin-left: 5%;
    grid-template-columns: 50% 50%;
    grid-gap: 2vh;
    overflow: hidden;
    place-items: center;
}

.projectList > div {
    color: white;
    background: linear-gradient(to bottom, #149de6 , #0e7490);
    border-radius: 10px;
    width: 40vh;
    height: 20vh;

}

.projectList:first-child {
    margin-top: 200px;
}

.project {
    display: grid;
    grid-template-rows: 20% 40% 30%;
}





.project > div {
    margin-top: 2.5%;
    margin-left: 5%;
    width: 90%;
    height: 100%;

}



.projectButtons {
    display: grid;
    margin-left: 60%;
    width: 40%;
    grid-template-columns: 3fr 1fr 1fr 1fr;

}

.sidebar > div:not(:first-child) {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;

}

.sidebar > div:not(:first-child) {
    width: 70%;


}

.sidebar > div:not(:first-child) *{
    color: white;
    font-size: 26px;


}

.sideIcon {
    margin-left: 40%;
    margin-top: 14%;
}

.sideIcon img {
    width: 55%;
}

.searchIcon {
    margin-left: 40%;
    margin-top: 1.5vh;
}

.searchBar input{

    width: 50%;
    height: 60%;
    border-radius: 212px;
    margin-top: 1%;
    outline:none;
    color: white;
}

.notificationIcon {
    margin-top: 5%;
    margin-left: 70%;
    width: 100%;
}

.notificationIcon img{
    margin-top: 7%;
    width: 40%;
}

.topProfilePicture{

}

.topProfilePicture img {
    margin-left: 50%;
    margin-top: 5%;
    width: 55%;
}

.topName {
    margin-left: 20%;
    color: white;


}

.topName h1{
    font-family: 'Exo', sans-serif;
    font-size: 28px;
}

.bottomProfilePicture img{
    margin-top: 1vh;
    margin-left: 70%;
    width: 52%;
}

.bottomName {
    display: grid;
    grid-template-rows: 35% 65%;
    color: white;
    margin-left: 5vh;
}

.helloMessage h1{
    font-size: 16px;
}

.bottomNameText h1{
    font-size: 26px;
    font-family: 'Exo', sans-serif;
}

.bottomNameText {

}

.bottomButton {
    width: 150px;
    place-items: center;
    margin-top: 3.5vh;

}

.bottomButton button{
    font-family: 'Exo';
    font-size: 1.2rem;
    border-radius: 16px;
    width: 12vh;
    height: 5vh;
    color: white;
    background-color: #075985;
    outline: none;
    border: none;
}

.projectText {
    color: white;
    margin-left: 5vh;
    margin-top: 2vh;
}

.projectButton img{
    margin-top: 2vh;
    width: 50%;
}

.annText {
    color: white;
    margin-left: 1vh;
    margin-top: 3vh;
    font-size: 0.7rem;
    border-bottom: 1px solid white;
    width: 75%;
}

.projectParaghraph p{
    font-size: 1.1rem;
}

.project {
    overflow: scroll;
}

.trendingTab {
    overflow: hidden;
}